div
{
	font-size : 0.5em;
	 
}
div
{
	display: flex;
   justify-content: center;
}

h1
 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end

}

h1
 {
   justify-content: center;
}

h2
 
 {
	background-color: black
    color : white;
    opacity :0.4;
}

h2
 
 {

  font-size : 5em;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end
  
  }

h3
 {

  font-size : 5em;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end
  
  }

  h3
 
 {

  	background-color: black
    color : white;
    opacity :0.4;
  
  }

h3
{
	display: flex;
    justify-content: center;
    align-items: center;
    
}


h3
{
	

    
}

 
